div {
  border-bottom: 2px solid black;
  width: 20%;
  padding: 10px;
  margin-bottom: 20px;
}

/* body {
  background-color: black;
}

.header {
  color: wheat;
  font-family: Metal Mania, "Times New Roman", Times, serif;
  text-align: center;
}

.book-list-item {
  list-style: none;
}

form {
 display: grid;
 width: 20%;
 margin: auto; 
}

button {
  
} */
