.container {
  width: 40%;
  padding: 20px;
  margin: 0 auto;
}

.book-list {
  width: 40%;
  padding: 0;
}

.book-list-item {
  list-style: none;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
}

/* body {
  background-color: black;
}

.header {
  color: wheat;
  font-family: Metal Mania, "Times New Roman", Times, serif;
  text-align: center;
}

form {
 display: grid;
 width: 20%;
 margin: auto; 
}

button {
  
} */
